<div>
  <h1 class="heading">{{ title }} To-Do List</h1>
  <p>
    This is a simple to-do list app. Add a title and description to create new
    To-Do tasks and delete them if necessary. Uses LocalMemory to remember
    To-Dos even after re-load.
  </p>
  <p>Please open Console to see Lifecycle Hooks used.</p>

  <table class="route-table">
    <tr>
      <td>
        <a routerLinkActive="active" routerLink="/description-two">Click Me!</a>
      </td>
      <td>
        <a routerLinkActive="active" routerLink="/description-three"
          >Click Me Too!</a
        >
      </td>
    </tr>
  </table>
  <router-outlet></router-outlet>
  <app-todos></app-todos>
</div>
